@font-face {
  font-family: 'Iceland';
  src: url(/source/Iceland-Regular.ttf);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #cfcfcf;
  font-size: 16pt;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

header {
  background-color: #cfcfcf;
  color: #8b3b3b;
  font-family: 'Iceland';
  width: 100%;
  height: 15vh;
  text-align: center;
  box-shadow: 0px 0px 5px 0px #000000;
  position: relative;
  z-index: 10;
}

h1 {
  font-size: 6rem;
  margin: 0;
  padding: 15px;
}

section {
  display: flex;
  justify-content:center;
  gap: 5%;
  background-color: #aaaaaa;
  height: 95vh;
  width: 100%;
  margin-top: -5%;
}

.container {
  display: flex;
  flex-direction: column;
}

.player {
  background-color: #cfcfcf;
  color: #8b3b3b;
  font-family: 'Iceland';
  font-size: 2.5rem;
  border: 2px solid #8b3b3b;
  box-shadow: 0px 0px 10px 0px #8b3b3b inset;
  border-radius: 10px;
  width: 25vh;
  height: 10vh;
  margin-top: 15%;
  padding: 1rem;
  text-align: center;
}

.player > h3,
.player > p {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

#board {
  background-color: #cfcfcf;
  border-style: solid;
  border-color: #8b3b3b;
  border-width: 4px;
  border-radius: 10px;
  display: grid;
  padding: 20px;
  margin-top: 10%;
  width: 40vh;
  height: 40vh;
  grid-template-columns: repeat(3, 1fr);  
  grid-auto-rows: 1fr;
  box-shadow: 0px 0px 5px 0px #000000;
}

#board > div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8b3b3b;
  font-family:sans-serif;
  font-size: 4rem;
  width: 100%;
  height: 100%;
}

#board > div:nth-child(2),
#board > div:nth-child(5),
#board > div:nth-child(8) {
  border-left: 3px solid #8b3b3b;
  border-right: 3px solid #8b3b3b;
}

#board > div:nth-child(n + 4):nth-child(-n + 6 ) {
  border-top: 3px solid #8b3b3b;
  border-bottom: 3px solid #8b3b3b;
}

#board > div:hover {
  cursor: pointer;
  background-color: #aaaaaa35;
}

#win-modal {
  background-color: #8b3b3bf5;
  color: #aaaaaa;
  text-align: center;
  border: 3px solid #8b3b3b;
  border-radius: 10px;
  padding: 2rem;
  width: 25%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 100;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}